@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

* {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-700 my-3;
}

p {
  @apply text-base text-left;
}

h1 {
  @apply text-2xl text-center leading-loose font-bold;
}
h2 {
  @apply text-xl leading-loose text-center font-semibold;
}
h3 {
  @apply text-lg font-semibold text-center;
}

p,
span,
a,
button,
li {
  @apply text-slate-600 my-1;
}

.un-list {
  @apply list-disc py-2;
}

.un-list > li {
  @apply ml-5;
}

.primary-button {
  @apply bg-yellow-400 hover:bg-yellow-300 text-indigo-900  hover:text-indigo-700 py-2 px-4 rounded-md uppercase font-semibold text-center cursor-pointer;
}

.looper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.looper__innerList {
  height: 100%;
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 0px;
}

.looper__listInstance {
  height: 100%;
  display: flex;
  width: max-content;
  margin-left: -24px;
  margin-right: -24px;

  animation: slideAnimation linear infinite;
}

.footer-row {
  @apply p-3 flex flex-row md:flex-col xl:flex-row basis-1/2;
}

.footer-col {
  @apply flex flex-col basis-1/2 mb-4 xl:mb-0;
}

.footer-list li {
}

.test * {
  @apply relative h-full bg-slate-50;
}

.slick-list {
  height: 100% !important;
}
